body {
    text-align: center;
    background-color: rgb(64, 143, 218);
}

h1 {
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(74, 250, 51);
}

h4 {
    color: rgb(0, 0, 0);
}

p {
    font-size: large;
    color: rgb(243, 243, 3);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

i {
    font-size: small;
}